/* 主要内容为背景图片设置、顶部栏设置 */
* {
    list-style: none;
    margin: 0;
    padding: 0;
}
body {
    background-image: url(https://cdn.jsdelivr.net/gh/Yootoyo/Yootoyo.github.io/img/20210515.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
    background-attachment: fixed;
}
a {
    text-decoration: none;
    color: black;
}
.all {
    width: 35%;
    height: 1000px;
    margin: 0 auto;
    position: relative;
}
/* 顶部栏 */
.top {
    height: 90px;
    width: 100%;
    /* border: 1px solid #2A3853; */
    margin: 0 auto;
    margin-bottom: 25px;
    backdrop-filter: blur(15px);
}
.top-headFigure {
    width: 90px;
    height: 90px;
}
.top-ul {
    display: flex;
    justify-content: space-between;
}
/* 顶部栏结束 */
