<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edge & Google浏览器拓展推荐</title>
    <link rel="shortcut icon" href="https://cdn.jsdelivr.net/gh/Yootoyo/Yootoyo.github.io/img/icon.ico">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="/js/vue.js"></script>
    <link href="/css/page.css" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="waifu"><a href="../index.html"><img src="https://cdn.jsdelivr.net/gh/Yootoyo/Yootoyo.github.io/img/拉姆雷姆.gif" title="点我回到主页"></a></div>
        <div class="one">
            <p>Tips:</p><br>
            <p>请戳一戳雷姆拉姆的脸回到主页q(≧▽≦q)</p><br>
            <p>本人用的是Edge，但是谷歌浏览器操作步骤也大差不差；其他浏览器啊，嗯~，打扰了！首先打开设置中的「拓展」选项，进入拓展页面；</p><br>
            <p style="text-align: center;"><img src="https://cdn.jsdelivr.net/gh/Yootoyo/Yootoyo.github.io/img/su/tuozhan-1.png"></p><br>
            <p>点击获取拓展进入Edge加载项页面；搜索「ublock」即可，选择图示的拓展，点击获取；</p><br>
            <p><img src="https://cdn.jsdelivr.net/gh/Yootoyo/Yootoyo.github.io/img/su/tuozhan-2.png" style="width: 100%;"></p><br>
            <p>此拓展作用为去除浏览器中各种广告，使用体验不错，值得推荐；</p><br>
            <p>接着，是流氓百度，搜索「百度药丸」，获取；</p><br>
            <p><img src="https://cdn.jsdelivr.net/gh/Yootoyo/Yootoyo.github.io/img/su/tuozhan-3.png" style="width: 100%;"></p><br>
            <p>百度药丸作用为去除百度搜索页面的广告、排行榜、咨询等，还你一个清净的搜索页；</p><br>
            <p>再一个，搜索「Infinity」，可以选择普通版，也可选择Pro版；</p><br>
            <p><img src="https://cdn.jsdelivr.net/gh/Yootoyo/Yootoyo.github.io/img/su/tuozhan-4.png" style="width: 100%;"></p><br>
            <p>作用为对建立的新标签页进行自定义，包括不限于：背景、快捷按钮、颜色、样式大小；登陆后可进行云同步设置；</p><br>
            <p>从这里开始就是大名鼎鼎的油猴拓展了；搜索「tampermonkey」，点击获取；</p><br>
            <p><img src="https://cdn.jsdelivr.net/gh/Yootoyo/Yootoyo.github.io/img/su/tuozhan-5.png" style="width: 100%;"></p><br>
            <p>油猴本身不提供拓展，所以下载油猴后要去第三方寻找插件；点击浏览器url地址栏右侧的油猴图标，选择获取新脚本；比较推荐省时间的GreasyFork，github直连有问题，需要梯子，而且费事难懂（说人话就是我觉得太折腾）；</p><br>
            <p style="text-align: center;"><img src="https://cdn.jsdelivr.net/gh/Yootoyo/Yootoyo.github.io/img/su/tuozhan-6.png"></p><br>
            <p><img src="https://cdn.jsdelivr.net/gh/Yootoyo/Yootoyo.github.io/img/su/tuozhan-7.png" style="width: 100%;"></p><br>
            <p>点击进入GreasyFork，可以在搜索框选择对应站点的拓展内容，点击进入后获取即可；也可以直接搜索相应内容，例如：百度文库、知乎、超星、哔哩哔哩等；优选得分高、本日下载次数高的脚本；</p><br>
            <p><img src="https://cdn.jsdelivr.net/gh/Yootoyo/Yootoyo.github.io/img/su/tuozhan-8.png" style="width: 100%;"></p><br>
            <p>到这里就差不多结束了，有自己相应需求的拓展可以自行搜索获取，更加推荐edge拓展程序，登录账户后可以云同步；油猴脚本更换浏览器或者换设备拓展就会遗失，需要重新获取；</p><br>
            <p>仅仅是个推荐，内行看个笑话即可；</p><br>
            <p>谢谢观看；</p><br>
            <p>End&nbsp;&nbsp;&nbsp;&nbsp;-by Profile</p><br>
        </div>
    </div>
</body>
</html>
