<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Win10美化</title>
    <link rel="shortcut icon" href="/img/icon.ico">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="/js/vue.js"></script>
    <link href="/css/page.css" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="waifu"><a href="../index.html"><img src="/img/拉姆雷姆.gif" title="点我回到主页"></a></div>
        <div class="one">
            <p>Tips:</p><br>
            <p>请戳一戳雷姆拉姆的脸回到主页q(≧▽≦q)</p><br>
            <p>首先是任务栏的处理；</p><br>
            <p>前往微软商店，下载应用「  TranslucentTB  」。原版为英文，记得下载汉化版；</p><br>
            <p style="text-align: center;"><img src="https://cdn.jsdelivr.net/gh/Yootoyo/Yootoyo.github.io/img/su/20210702_225319.png" style="width: 80%;height: 40%;"></p><br>
            <p>下载完成后，启动；在任务栏右键图标进行设置；</p><br>
            <p style="text-align: center;"><img src="https://cdn.jsdelivr.net/gh/Yootoyo/Yootoyo.github.io/img/su/000000.png" style="height: 20%;width: 40%;"></p><br>
            <p>接下来用到第二个软件，虽然可以使用这个软件一次性解决，但有一定缺陷，任务栏透明推荐使用TranslucentTB；</p><br>
            <p>软件「  StartIsBack++  」，作用为系统美化，不过多赘述；</p><br>
            <p>由于Win10更新可能会导致软件版本不兼容，推荐去官网下载软件，进行破解使用，可以更新版本；</p><br>
            <p style="text-align: center;"><a href="http://www.startisback.com/#download" target="_blank">下载点这里</a></p><br>
            <p>下载完成后安装，安装位置可自定，不急着启动，开始破解；</p><br>
            <p style="text-align: center;"><a href="https://www.cr173.com/soft/1196385.html" target="_blank">下载破解工具</a></p><br>
            <p>按照下载时的教程进行破解，破解后找到安装位置，点击「  StartIsBackCfg.exe  」进入设置；</p><br>
            <p style="text-align: center;"><img src="https://cdn.jsdelivr.net/gh/Yootoyo/Yootoyo.github.io/img/su/图片2.png" style="height: 30%; width: 50%;"></p><br>
            <p style="text-align: center;"><img src="https://cdn.jsdelivr.net/gh/Yootoyo/Yootoyo.github.io/img/su/图片3.png" style="height: 30%; width: 50%;"></p><br>
            <p>这样就结束了，效果的话就像这样</p><br>
            <p><img src="https://cdn.jsdelivr.net/gh/Yootoyo/Yootoyo.github.io/img/su/20210702_234554.png" style="width: 100%; height: 80%;"></p><br>
            <p>最后，要说的是这只是一种美化方案，个人喜好不同，按个人喜好进行设置；</p><br>
            <p>由于软件是在破解后使用，不能进行商业行为，仅限个人学习交流；</p><br>
            <p>这两个软件都有其他可以自主探索的空间，感兴趣可以自己进行摸索；</p><br>
            <p>谢谢观看；</p><br>
            <p>End&nbsp;&nbsp;&nbsp;&nbsp;-by Profile</p><br>
        </div>
    </div>
</body>
</html>
